{% extends 'base.html' %}

{% block title %} 
	Output
{% endblock %}

{% block header %} 

<button><a href="/">Go back to home</a></button>

{% endblock %}

{% block body %} 

  <h2> Total Size of web page is: {{ s }} bytes</h2>

  <h2>The links present are:</h2>

	{% for link in links %}
    <p>{{ link }}</p>
  {% endfor %}

  <h2>Total number of links in web page are : {{link_size}}</h2>

	{% for c in count_dict %}
		<p> Count of domain name <strong>{{ c }}</strong> = {{count_dict[c]}} </p>
	{% endfor %}	

  <hr>
  <h1> Graphs</h1>
  <br>
  


{% endblock %}
