{% extends 'base.html' %}

{% block title %}
Output
{% endblock %}

{% block header %}

<button
    style="background-color: white; border-radius: 24px; border-color: black; color: black; font-size: 14px; padding: 5px;"
    onmouseover="
this.style.backgroundColor='black' ;this.style.color='white' ;this.style.fontSize='14px' ;"
    onmouseout="this.style.backgroundColor='white';this.style.color='black';this.style.fontSize='14px';"><a
        href="/"><strong>
            Go back to home!! </strong></a></button>

{% endblock %}

{% block body %}

<h2> Total Size of web page is: {{ s }} bytes</h2>



<h2>Total number of links in web page are : {{link_size}}</h2>

{% for c in count_dict %}
<p> Count of domain name <strong>{{ c }}</strong> = {{count_dict[c]}} </p>
{% endfor %}

<h2>The links present are:</h2>

{% for link in links %}
<p style="font-size: 12px;">{{ link }}</p>
{% endfor %}
<br>



{% endblock %}